# node_modules local
node_modules

# logs
npm-debug.log
logs

# git
.git
.gitignore

# next build
.next
coverage

# env (sécurité)
.env

# OS
.DS_Store

# Docker
docker-compose.dev.yml
docker-compose.prod.yml