@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* couleur a modifier */
/* primary: 64.14 58% 37% (doré) */

@layer base {
  :root {
    --background: 0 0% 10.5%;
    --foreground: 0 0% 100%;
    --muted: 240 6% 13%;
    --muted-foreground: 0 0% 80%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --card: 240 6% 15%;
    --card-foreground: 60 9.1% 97.8%;
    --border: 43 50% 58%;
    --input: 0 0% 85%;
    --primary: 43 50% 58%;
    --primary-foreground: 0 0% 0%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --ring: 43 50% 58%;
    --chart-1: 47.9 95.8% 53.1%;
    --chart-2: 12 6.5% 15.1%;
    --chart-3: 12 6.5% 15.1%;
    --chart-4: 12 6.5% 18.1%;
    --chart-5: 47.9 98.8% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
